<!DOCTYPE html>
<html>
    <head>
        <title>viewer</title>
    </head>
    <body style="margin: 0px;">
        <img id="liveImg" style="min-width: 100%; min-height: 100%; width: 100%; height: auto; position: fixed; top: 0; left: 0;" />
        <script>
            var img = document.getElementById("liveImg");
            function startWebsocket() {
                var ws = new WebSocket("{{ url_for('websocket_endpoint')}}");
                ws.binaryType = 'arraybuffer';
                ws.onmessage = function(event) {
                    var arrayBuffer = event.data;
                    var blob  = new Blob([new Uint8Array(arrayBuffer)]);
                    img.src = window.URL.createObjectURL(blob);
                };
                ws.onclose = function() {
                    ws = null;
                    setTimeout(startWebsocket, 1000);
                }
            }
            startWebsocket();
        </script>
    </body>
</html>